<% @list.each do |x| %>
<ul>
	<li>
		<%= 
			if x.status == 1
				"enabled" 
			else
				"disabled"
			end
		%>
	</li>
	<li>
		<%= 
			case x.engine
			when 1
				"Google"
			when 2
				"Yahoo"
			when 3
				"Bing"
			else
				"Undefined"
			end
		%>
	</li>
	<li>
		<%= x.color1
		%>
	</li>
	<li>
		<%= x.color2 
		%>
	</li>
	<li>
		<%= x.background1 
		%>
	</li>
	<li>
		<%= x.background2 
		%>
	</li>
	<li>
		<%= 
			case x.size
			when 1
				"Mini"
			when 2
				"Normal"
			else
				"Undefined"
			end 
		%>
	</li>
	<li>
		<%=
			link_to "Delete", x,
			:confirm => "Are you sure?",
			:method => :delete
		%>
	</li>
</ul>
<br/>
<% end %>

<a href="csearches/new">
	Make A New Custom Search Plugin
</a>