<h2 class="user-panel-title">Plugins</h2>
<div id="user-plugins" class="row">
	
	<a href="smbuttons" class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
		<img src="" />
		<span>Custom Social Media Button</span>
	</a>

	<a href="csearches" class="col-lg-1 col-md-2 col-sm-3 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
		<img src="" />
		<span>Custom Search Engine Plugin</span>
	</a>

</div>