$(document).ready( function() {

	// values
	var smbutton_network = "http://facebook.com/";
	var smbutton_color1 = "#000000";
	var smbutton_background1 = "#ffffff";
	var smbutton_text = "Enter your text!";
	var smbutton_url = "user";

	// Default form values - only for input texts
	$("#smbutton_color1").val( smbutton_color1 );
	$("#smbutton_background1").val( smbutton_background1 );
	$("#smbutton_text").val( smbutton_text );
	$("#smbutton_url").val( smbutton_url );

	// Initialize preview values
	$('.mango-plugins-smbutton-text').text( smbutton_text );
	$('.mango-plugins-smbutton-container').attr("href", smbutton_network + smbutton_url);
	$('.mango-plugins-smbutton-container').css("background-color", smbutton_background1);
	$('.mango-plugins-smbutton-text').css("color", smbutton_color1);
	$('.mango-plugins-smbutton-logo').attr("src", "<%= asset_path('fb-logo.png') %>");

	// Initialize Spectrum
	initializeSpectrum();

	// Handlers for form input changes
	$('#smbutton_network').change( function() {

		switch( $("#smbutton_network option:selected").val() ) {
			case "1":
				smbutton_network = "http://facebook.com/";
				$('.mango-plugins-smbutton-logo').attr("src", "<%= asset_path('fb-logo.png') %>");
				break;
			case "2":
				smbutton_network = "http://twitter.com/";
				$('.mango-plugins-smbutton-logo').attr("src", "<%= asset_path('tw-logo.png') %>");
				break;
			case "3":
				smbutton_network = "http://instagram.com/";
				$('.mango-plugins-smbutton-logo').attr("src", "<%= asset_path('ig-logo.png') %>");
				break;
			case "4":
				smbutton_network = "http://youtube.com/";
				$('.mango-plugins-smbutton-logo').attr("src", "<%= asset_path('yt-logo.png') %>");
				break;
			default:
		}
		$('.mango-plugins-smbutton-container').attr("href", smbutton_network + smbutton_url);
	});

	$('#smbutton_text').keyup( function() {
		var str = $('#smbutton_text').val();
		$('.mango-plugins-smbutton-text').text( str );
	});

	$('#smbutton_url').keyup( function() {
		var str = $('#smbutton_url').val();
		$('.mango-plugins-smbutton-container').attr("href", smbutton_network + str);
	});

	$('#smbutton_color1').change( function() {
		var str = $('#smbutton_color1').val();
		$('.mango-plugins-smbutton-text').css("color", str);
	});

	$('#smbutton_background1').change( function() {
		var str = $('#smbutton_background1').val();
		$('.mango-plugins-smbutton-container').css("background-color", str);
	});

});

function initializeSpectrum() {

	$("#smbutton_color1").spectrum({
		color: "#000000",
	    showPaletteOnly: true,
	    showPalette:true,
		preferredFormat: "hex",
    	hideAfterPaletteSelect:true,
		palette: [
        ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
        ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
        ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
        ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
        ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
        ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
        ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
        ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
    	]
	});
	$("#smbutton_background1").spectrum({
		color: "#ffffff",
	    showPaletteOnly: true,
	    showPalette:true,
		preferredFormat: "hex",
    	hideAfterPaletteSelect:true,
		palette: [
        ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
        ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
        ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
        ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
        ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
        ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
        ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
        ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
    	]
	});
}