/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'spectrum.css'
 */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

@import "font-awesome-sprockets";
@import "font-awesome";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background-image: url(<%= asset_path 'background.png' %>);
	background-repeat: repeat;
}
* {
	font-family: 'Open Sans', sans-serif !important;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

#application-top-bar {
	background-color: #557C9B;
	color: white;
	border-bottom: 1px solid black;
	font-size: 12px;
}
#application-top-bar a {
	color: white;
	text-decoration: none;
}
#application-top-bar > div {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}
.user-box {
	display: inline-block;
}

i.fa { 
    font-family:FontAwesome!important; 
}