// Place all the styles related to the Smbuttons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index Page
.sm-index-container {
}

.sm-index-container > header {
	padding: 16px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 0px 2px 1px grey;
	margin-top: 8px;
}
.sm-index-container > header > span {
	
}

.sm-index-item {
	margin-top: 16px;
	margin-bottom: 16px;
}
.sm-index-item-delete {
	font-size: 0.8em;
	background-color: white;
	padding: 8px;
	border-radius: 4px;
	color: grey;
}
.sm-index-item-delete:hover {
	text-decoration: none;
	color: white;
	background-color: grey;
}
.sound-preview {
	color: grey;
	background-color: white;
	margin-top: 8px;
	display: inline-block;
	padding: 8px;
	border-radius: 4px;
}

// New Button Page
.control-panel {
	text-align: center;
	padding-top: 48px;
}
.new-sm-button-form {
	text-align: left;
	background: white;
	box-shadow: 0px 0px 2px;
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.new-sm-button-form > div {
	padding-top: 16px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
	border-bottom: 1px solid lightgrey;
}
.new-sm-button-form > div:last-child {
	border-bottom: 0px solid lightgrey;
}
.preview-panel {
	text-align: center;
	padding-top: 48px;
}

.mango-plugins-smbutton-container {
	display: inline-block;
	height: 60px;
	width: 240px;

	border-radius: 4px;
	box-shadow: 0px 0px 1px grey;
	overflow: hidden;
}
.mango-plugins-smbutton-logo {
	height: 50px;
	margin-top: 5px;
	padding-left: 2px;
	border: 0px
}
.mango-plugins-smbutton-picture {
	height: 30px;
	width: 100%;
}
.mango-plugins-smbutton-text {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
}

.mango-plugins-smbutton-container div {
	padding: 0;
	margin: 0;
}