// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-row {
	margin-top: 32px;
	margin-left: 0;
	margin-right: 0;
	font-size: 12px;
}
#login-row > div {
	box-shadow: 0px 0px 4px 0px black;
	border-radius: 4px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 16px;
	overflow: hidden;
	background: white;
}
#login-row > div > header {
	background-color: #7ED6BE;
	padding: 8px;
	font-size: 14px;
	color: white;
}
#login-row > div > form {
	padding-top: 8px;
	margin-left: 10%;
	width: 80%;
}
#login-row > div > form > div {
	margin-bottom: 8px;
}

.user-panel-title {
	text-align: center;
	background: white;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
#user-plugins {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 2px;
	padding-right: 2px;
}
#user-plugins > a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	box-shadow: 0px 0px 4px black;
	text-decoration: none;
	border-radius: 4px;
}
#user-plugins > a > span {
	display: inline-block;
	width: 100%;
	font-size: 0.8em;
	text-align: center;
}