<div id="application-top-bar" class="row">
	<% if user_signed_in? %>
		<div class="col-xs-3">
			<a href="/">
				<span class="hidden-xs">Plugins</span>
				<i class="fa fa-2x fa-cogs visible-xs"></i>
			</a>
		</div>
		<div class="col-xs-3">
			<a href="/users/edit">
				<span class="hidden-xs">Account</span>
				<i class="fa fa-2x fa-user visible-xs"></i>
			</a>
		</div>
		<div class="col-xs-3">
			<a href="/help">
				<span class="hidden-xs">Help</span>
				<i class="fa fa-2x fa-question visible-xs"></i>
		</a>
		</div>
		<div class="col-xs-3">
			<span class="hidden-xs">
				Hi! <%= current_user %>
			</span>
				<%=
					link_to('(Logout)', destroy_user_session_path, :method => :delete, :class => "hidden-xs")
				%>
				<%=
					link_to("<i class='fa fa-2x fa-sign-out visible-xs'></i>".html_safe, destroy_user_session_path, :method => :delete, :class => "visible-xs")
				%>
		</div>
	<% else %>
		<div class="col-xs-3 col-xs-offset-9">
			<span>Hi Guest!</span>
		</div>
	<% end %>
</div>