<section class="sm-index-container col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 row">

	<header>
		<span>
			Social Media Buttons
		</span>
	</header>

	<% @list.each do |x| %>
	<% 
		case x.network
		when 1
			@logo = asset_path('fb-logo.png');
		when 2
			@logo = asset_path('tw-logo.png');
		when 3
			@logo = asset_path('ig-logo.png');
		when 4
			@logo = asset_path('yt-logo.png');
		end
	%>
	<div class="sm-index-item col-xs-12 col-sm-6 col-sm-6 col-lg-4">
		<a class="mango-plugins-smbutton-container" style="background: <%= x.background1 %>;" href="<%= x.url %>">
			<div class="row">
				<img class="col-xs-3 mango-plugins-smbutton-logo" src="<%= @logo %>"/>
				<div class="col-xs-9">
					<img src="" class="mango-plugins-smbutton-picture"/>
					<span class="mango-plugins-smbutton-text" style="color: <%= x.color1 %>">
						<%= x.text %>
					</span>
				</div>
			</div>
		</a>
		<br/>
		<a onclick="this.firstChild.play()" class="sound-preview"><audio src="<%= x.sound.url %>"></audio>
			<i class="fa fa-play-circle"></i>
			<span class="hidden-xs">Preview Sound</span>
		</a>
		<%=
			link_to "<i class='fa fa-times'></i><span class='hidden-xs'> Delete</span>".html_safe, x,
			:confirm => "Are you sure?",
			:method => :delete,
			:class => "sm-index-item-delete"
		%>
	</div>
	<% end %>

	<div class="sm-index-item col-xs-12 col-sm-6 col-sm-6 col-lg-4">
		<a class="mango-plugins-smbutton-container" style="background: white;" href="smbuttons/new">
			<div class="row">
				<img class="col-xs-3 mango-plugins-smbutton-logo"/>
				<div class="col-xs-9">
					<img src="" class="mango-plugins-smbutton-picture"/>
					<span class="mango-plugins-smbutton-text" style="color: black;">
						Create a new button!
					</span>
				</div>
			</div>
		</a>
	</div>
</section>