<section class="row">

	<div class="col-md-5 col-md-offset-1 col-sm-8 col-xs-12 control-panel">
		<%= form_for (@smbutton), html: {class: "new-sm-button-form col-xs-12"} do |f| %>

			<div>
				<%= f.label :smbutton_label, "Social Network" %>
				<%= f.select :network, [ ["Facebook", 1 ], ["Twitter", 2 ], ["Instagram", 3 ], ["Youtube", 4]] %>
			</div>
			<div>
				<%= f.label :smbutton_label, "Text Color" %>
				<%= f.text_field :color1 %>
			</div>
			<div>
				<%= f.label :smbutton_label, "Background" %>
				<%= f.text_field :background1 %>
			</div>
			<div>
				<%= f.label :smbutton_label, "Text" %>
				<%= f.text_field :text %>
			</div>
			<div>
				<%= f.label :smbutton_label, "URL" %>
				<%= f.text_field :url %>
			</div>
			<div>
				<%= f.label :smbutton_label, "Picture" %>
				<%= f.file_field :picture %>
			</div>
			<div>
				<%= f.label :smbutton_label, "Sound" %>
				<%= f.file_field :sound %>
			</div>
			<div>
				<%= f.submit %>
			</div>

		<% end %>
	</div>
	<div class="col-md-6 col-sm-4 col-xs-12 preview-panel">
		<a class="mango-plugins-smbutton-container">
			<div class="row">
				<img class="col-xs-3 mango-plugins-smbutton-logo"/>
				<div class="col-xs-9">
					<img src="" class="mango-plugins-smbutton-picture"/>
					<span class="mango-plugins-smbutton-text"></span>
				</div>
			</div>
		</a>
	</div>

</section>

<%= content_for :jsspec do %><%= javascript_include_tag "smbuttons-new.js" %><% end %>