<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $10.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Mango Plugins Subscription Fee"
          data-amount="1000"></script>
<% end %>